@{
    
}
<!--<script src="~/Scripts/Views/Statistics/Map.js"></script>-->
<script>
    var geocoder;
    var map;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
            zoom: 8,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('mapa'), mapOptions);
        google.maps.event.trigger(map, "resize");
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                //todo: instead of alert, save location to server
                alert(results[0].geometry.location);
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<h2>@ViewBag.Title</h2>


<style>

path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
} 
svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}
 
    #map {
        height: 80%;
    }

</style>

<div>
    <div class="row">
        <div class="col-10">
            <div id="map"></div>
        </div>
    </div>
 <p></p>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="@Url.Content("~/Content/Donut3D.js")"></script>
<script>

    var svg = d3.select("body").append("svg").attr("width", 700).attr("height", 300);
    svg.append("text")
        .attr("x", 160)
        .attr("y", 20)
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Count Comments Of Posts");
    svg.append("text")
        .attr("x", 450)
        .attr("y", 20)
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .style("text-decoration", "underline")
        .text("Group By and count Tags");
    svg.append("g").attr("id", "CountCommentsOfPostsDonut");
    svg.append("g").attr("id","GroupByTagsDonut");

    d3.json("CountCommentsOfPostsGraph", function (data) {
    
    var data = data;

    var valuedData =  data.map(function(d){ 
        return { label: d.lable, value: d.value, color: d.color };
    });
    Donut3D.draw("CountCommentsOfPostsDonut", valuedData, 150, 150, 130, 100, 30, 0.4);
});

    d3.json("GroupByTagsGraph", function (data) {

        var data = data;

        var valuedData = data.map(function (d) {
            return { label: d.lable, value: d.value, color: d.color };
        });
        Donut3D.draw("GroupByTagsDonut", valuedData, 450, 150, 130, 100, 30, 0);
    });
</script>

    <script>

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: { lat: -28.024, lng: 140.887 }
        });


        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        var markers = locations.map(function (location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        }

        $.ajax({
            url: "http://localhost:56587/Location", success: function (result) {
                var locations = result;
            }
        });
    /*var locations = [
        //todo: instead of hard coded alerts read location from server
        { lat: 31.97, lng: 34.77 },
        { lat: -33.718234, lng: 150.363181 },
        { lat: -33.727111, lng: 150.371124 },
        { lat: -33.848588, lng: 151.209834 },
        { lat: -33.851702, lng: 151.216968 },
        { lat: -34.671264, lng: 150.863657 },
        { lat: -35.304724, lng: 148.662905 },
        { lat: -36.817685, lng: 175.699196 },
        { lat: -36.828611, lng: 175.790222 },
        { lat: -37.750000, lng: 145.116667 },
        { lat: -37.759859, lng: 145.128708 },
        { lat: -37.765015, lng: 145.133858 },
        { lat: -37.770104, lng: 145.143299 },
        { lat: -37.773700, lng: 145.145187 },
        { lat: -37.774785, lng: 145.137978 },
        { lat: -37.819616, lng: 144.968119 },
        { lat: -38.330766, lng: 144.695692 },
        { lat: -39.927193, lng: 175.053218 },
        { lat: -41.330162, lng: 174.865694 },
        { lat: -42.734358, lng: 147.439506 },
        { lat: -42.734358, lng: 147.501315 },
        { lat: -42.735258, lng: 147.438000 },
        { lat: -43.999792, lng: 170.463352 }
    ]
        */
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvvjKzajNkWf0Ac79uOgy6Eh-MzUG-kcw&callback=initMap">
    </script>
</div>
